.avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.nameContainer, .personalInformationContainer {
    display: flex
}
.name {
    font-size: 42px;
    font-weight: 500;
    white-space: nowrap;
}
.profession {
    font-size: 18px;
}
.button, .addGalleryCardContainer {
    padding: 0;
}
.editButton {
    margin: 0 0 0 10px;
}
.mainInformationAndAddButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%
}
.addGalleryCardContainer {
    border: 1px solid white;
    width: 142px;
    height: 50px
}
.editButton:hover, .addGalleryCardContainer:hover {
    opacity: 0.6
}

@media screen and (max-width: 890px) {
    .personalInformationContainer, .mainInformationAndAddButtonContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .profession {
        text-align: center;
    }
    .mainInformation {
        margin: 0 auto;
    }
    .editButton {
        padding-right: 50%;
    }
    .addGalleryCardContainer {
        width: 100%;
        margin-top: 5%;
    }
    .avatarContainer {
        padding-left: 10%;
    }
    .name {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    .name {
        font-size: 25px;
    }
}
 
@media screen and ( max-width: 375px) {
    .name {
        font-size: 25px;
    }
    .profession {
        font-size: 16px;
    }
}

@media screen and ( max-width: 320px) {
    .name {
        font-size: 20px;
    }
    .profession {
        font-size: 14px;
    }
}