.header {
    display: flex;
    color: white;
    justify-content: space-between;
}
.logo {
    display: flex
}
.mestos {
    font-size: 24px;
}
.russia {
    font-size: 12px;
    margin-top: 15%;
}
.logOut {
    margin-top: 60%;
    cursor: pointer
}
.buttons {
    margin-top: 15%;
    display: flex;
}
.button {
    border: 1px solid white;
    color: white;
    white-space: nowrap;
}
.button:first-child {
    margin-right: 8%;
}
.button:hover, .logOut:hover {
    opacity: 0.6;
}