.header {
    display: flex;
    color: white;
    justify-content: space-between;
}
.logo {
    display: flex
}
.mestos {
    font-size: 24px;
}
.russia {
    font-size: 12px;
    margin-top: 15%;
}
.logOut {
    margin-top: 60%;
}
.buttons {
    margin-top: 15%;
    display: flex;
}
.button {
    background-color: #E0E0E0;
    color: black;
    white-space: nowrap;
}
.button:first-child {
    margin-right: 8%;
}